/* jakob-owens-588807-unsplash */
@import url('https://fonts.googleapis.com/css?family=Anton');

html {
  font-family: 'Anton', sans-serif;
}

.Logo {
  background-image: url(./indexPic.jpg);
  background-size: cover;
  background-color: darkblue;
  height: 100vh;
}

.App-title {
  color: #e0dbd1;
  text-align: center;
}

#aboutPage a {
  text-decoration: none;
 position: relative;
 color: #e0dbd1;
}

#aboutPage a:hover {
  color: #e0dbd1;
}

#aboutPage a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#aboutPage a:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}